body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sweetsAttr {
  background-color: aquamarine;
  width: 200px;
  }
  
  #sweetsForm {
    background-color:grey;
    width: 200px;
  }
  
  h1{
    color: black(29, 218, 105);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
